.caveat-700 {
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.hidden {
    display: none;
}

#postControls {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#postCreate {
    display: flex;
    flex-direction: column;
    width: 20rem;
}

#postCreate textarea {
    height: 15rem;
    resize: none;
}

#post {
    width: fit-content;
}

#postText {
    font-size: x-large;
    padding-top: 2.5rem;
    height: 70%;
    width: 90%;
    border: 0;
    background-color: #ffffff00;
    resize: none;
}

#postText:focus {
    border: none;
    outline: none;
}

#postContent {
    background-image: url("/img/sticky_note.png");
    background-size: cover;
    height: 20rem;
    aspect-ratio: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}